.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    padding: 6px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.75);
}

.loading p {
    text-align: center;
}


.itemCard {
    height: 400px;
    width: 250px;
    padding: 6px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.75);
}

.itemCard .btnContent {
    position: relative;
    box-sizing: border-box;
    height: 300px;
    width: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.itemCard .btnContent img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.itemCard h3 {
    margin: 16px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.itemCard .buttonContainer {
    margin: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}


.itemCard .buttonContainer .A2Cbtn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    flex-basis: 70%;
}

.itemCard .buttonContainer .likeBtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    flex-basis: 25%;
}


/* =================================================================================================== */

.itemCardDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.detail {
    position: relative;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    background-color: rgb(30, 30, 30);
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    overflow: auto;
}

.detail .leftDetail {
    flex-grow: 0;
    flex-shrink: 0;
}

.detail .rightDetail {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 16px;
    overflow-x: auto;
}

.detail .rightDetail p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.detail img {
    width: 100%;
    height: 800px;
    border-radius: 5px;
}

.detail h3 {
    font-size: 24px;
}

.detail p {
    font-size: 16px;
    word-wrap: break-word;
    margin-bottom: 16px;
}

.detail .tags {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.exitBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: rgb(255, 53, 53);
    font-size: 36px;
    cursor: pointer;
    z-index: 2;
}

.lastLine {
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastLine a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

.lastLine a:hover {
    color: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@media (min-width: 768px) {
    .detail {
        width: auto;
    }
}

@media (max-width: 768px) {
    .detail {
        display: block;
        overflow-y: auto;
        max-height: 80vh;
    }

    .detail img {
        height: auto;
        max-width: 100%;
    }
}