.gameContainer {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 0px 32px 32px 32px;
}

.item {
    margin: auto;
}

.message {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}

.filterContainer {
    display: flex;
    padding: 16px 32px;
    margin: 32px;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.filter1 {
    flex-basis: 20%;
}

.filter2 {
    flex-basis: 20%;
}

.filter3 {
    flex-basis: 20%;
}

.filter4 {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.btn1 {
    background-color: #FF4D4D;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #D64550;
}

.btn1:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn2 {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn2:hover {
    background-color: #45a049;
}

.btn2:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .filterContainer {
        padding: 16px 0;
        flex-direction: column;
        height: auto;
        gap: 16px;
        justify-content: left;
    }

    .filter1 {
        width: 70%;
    }

    .filter2 {
        width: 70%;
    }

    .filter3 {
        width: 70%;
    }

    .filter4 {
        width: 70%;
    }
}